/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PAMATS */
body {
    font-family: Arial, sans-serif;
    background: #c9eabe;
    color: #333;
}

/* NAVBAR */
nav {
    background: #111;
    color: #fff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #0B6624;
}

/* HEADER */
header {
    text-align: center;
    padding: 25px 15px;
    background: linear-gradient(to right, #111, #333);
    color: #fff;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    opacity: 0.9;
}

/* SEKCIJAS */
section {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

/* FILMAS */
.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 25px;
}

.movie-card {
    background: #b3d4b1;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    border-top: 5px solid #0B6624;
    box-shadow: 0 0 15px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.movie-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* POGAS + FORMA (APVIENOTS) */
.read-more-btn,
form button {
    background: #0B6624;
    color: #fff;
    border-radius: 6px;
    transition: 0.3s;
}

/* POGA */
.read-more-btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
}

/* FORMA */
form {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: auto;
    gap: 12px;
}

form input,
form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

form button {
    padding: 12px;
    border: none;
    cursor: pointer;
}

/* GALERIJA */
.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.gallery-grid img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

/* CONTACT */
#contact {
    max-width: 600px;
    margin: 60px auto;
    text-align: center;
    padding: 20px;
}

/* FEEDBACK */
#formFeedback {
    text-align: center;
    margin-top: 10px;
}
